body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: green;
}


section, h1, h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

th {
  text-align: left;
}

td {
  border-top: solid;
}

div {
  padding-top: 2px;
  padding-right: 10px;
}

a:hover {
  color: blue
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: lightblue;
  margin: 0;
  padding: 0;
}