<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>

<body>
    <nav>  
        <div><a href="/flights">All Flights</a></div>
        <div><a href="/flights/new">Add Flight</a></div>
    </nav>
    <h1>List of Flights</h1>
    <section class="front">
    <table>
        <thead>
            <tr>
                <th>Airline</th>
                <th>Flight Number</th>
                <th>Departs</th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(function(f) { %>
            <tr>
                <td>
                <a href="/flights/<%= f._id %>">
                <%=f.airline%> </a>
                </td>
                <td><%=f.flightNo%></td>
                <td><%=f.departs%></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    </section>
</body>

</html>