<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Document</title>
</head>

<body>
  
  <h2>Enter a New Flight</h2>
  <section>
  <form action="/flights" method="POST">
    <div><label>Airline
      <select name="airline">
        <option value="American">American</option>
        <option value="Delta">Delta</option>
        <option value="Southwest">Southwest</option>
      </select>
    </label></div><br>
    <div><label>Flight Number:
      <input type="text" name="flightNo">
    </label></div><br>
    <div><label>Departs:
      <input type="date" name="departs">
    </label></div><br>
    <div><label>Airport
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DAL">DAL</option>
        <option value="LAX">LAX</option>
        <option value="SEA">SEA</option>
      </select>
    </label></div><br>
    <input type="submit" value="Add Flight">
  </form>
</section>
</body>
</html>