<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <h2>Enter a New Flight</h2>
    <form action="/flights" method="POST">
        <label>Airline:
          <input type="text" name="airline">
        </label><br>
        <label>Flight Number:
          <input type="text" name="flightNo">
        </label><br>
        <label>Departs:
            <input type="date" name="departs">
        </label><br>
        <input type="submit" value="Add Flight">
    </form>    
</body>
</html>